<a href="https://colab.research.google.com/github/haniJ2000/Brain-Tumor-Detection/blob/main/Data_preprocessing(research).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Missing values handling in rows......**

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/application_data.csv')

Mounted at /content/drive

check the duplication rows

In [ ]:
# Check the number of duplicate rows
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

check the missing value presentages in rows

In [ ]:
# Calculate the percentage of missing values for each row
missing_percentage = (df.isnull().sum(axis=1) / df.shape[1]) * 100

# Display the percentage of missing values for each row
print("Percentage of missing values for each row:")
print(missing_percentage)

# Optionally, display statistics on missing percentages
print("\nSummary of missing percentages:")
print(missing_percentage.describe())

Percentage of missing values for each row:
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
307506    0.0
307507    0.0
307508    0.0
307509    0.0
307510    0.0
Length: 307511, dtype: float64

Summary of missing percentages:
count    307511.0
mean          0.0
std           0.0
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           0.0
dtype: float64

**missing value handling in columns....**

presentage of missing values in columns

In [ ]:
# Display all columns in the output
pd.set_option('display.max_columns', None)

# Calculate percentage of missing values for each column
missing_percentage = (df.isnull().sum() / len(df)) * 100

# Display the missing value percentages
print("Percentage of Missing Values for Each Column:\n", missing_percentage)

# Save missing value percentages to a CSV file
missing_percentage.to_csv("missing_values_report.csv")

#check the direction
import os
print("Current Working Directory:", os.getcwd())

'''#for download the file
from google.colab import files
files.download("missing_values_report.csv") '''

print("Total Columns with Missing Value Percentage:", len(missing_percentage))

Percentage of Missing Values for Each Column:
 SK_ID_CURR                     0.000000
TARGET                         0.000000
NAME_CONTRACT_TYPE             0.000000
CODE_GENDER                    0.000000
FLAG_OWN_CAR                   0.000000
                                ...
AMT_REQ_CREDIT_BUREAU_DAY     13.501631
AMT_REQ_CREDIT_BUREAU_WEEK    13.501631
AMT_REQ_CREDIT_BUREAU_MON     13.501631
AMT_REQ_CREDIT_BUREAU_QRT     13.501631
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
Length: 122, dtype: float64
Current Working Directory: /content
Total Columns with Missing Value Percentage: 122

Categorizing Columns Based on Missing Value Percentages

In [ ]:
# Categorize Columns
low_missing_cols = missing_percentage[missing_percentage < 5].index.tolist()
moderate_missing_cols = missing_percentage[(missing_percentage >= 5) & (missing_percentage <= 50)].index.tolist()
high_missing_cols = missing_percentage[missing_percentage > 50].index.tolist()

# Step 3: Print Results
print(f"Low Missingness Columns (< 5%): {len(low_missing_cols)} columns")
print(low_missing_cols)

print(f"\nModerate Missingness Columns (5% - 50%): {len(moderate_missing_cols)} columns")
print(moderate_missing_cols)

print(f"\nHigh Missingness Columns (> 50%): {len(high_missing_cols)} columns")
print(high_missing_cols)

# Step 4: Optional - Export the categorized lists to a CSV
import pandas as pd
categorized_columns = pd.DataFrame({
    'Low Missingness (< 5%)': pd.Series(low_missing_cols),
    'Moderate Missingness (5% - 50%)': pd.Series(moderate_missing_cols),
    'High Missingness (> 50%)': pd.Series(high_missing_cols)
})
categorized_columns.to_csv("categorized_columns.csv", index=False)

'''#for download the file
from google.colab import files
files.download("categorized_columns.csv")'''

Low Missingness Columns (< 5%): 65 columns
['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_2', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']

Moderate Missingness Columns (5% - 50%): 16 columns
['OCCUPATION_TYPE', 'EXT_SOURCE_3', 'YEARS_BEGINEXPLUATATION_AVG', 'FLOORSMAX_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'FLOORSMAX_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE', 'EMERGENCYSTATE_MODE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

High Missingness Columns (> 50%): 41 columns
['OWN_CAR_AGE', 'EXT_SOURCE_1', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE']

'#for download the file\nfrom google.colab import files\nfiles.download("categorized_columns.csv")'

Handle Low Missing Percentage(<5%)

In [ ]:
#Identify Columns with Low Missing Percentage (< 5%)
print(f"Columns with Low Missing Percentage (< 5%): {len(low_missing_cols)} columns")
print(low_missing_cols)

# Separate Columns by Data Type
low_missing_numerical = [col for col in low_missing_cols if df[col].dtype in ['float64', 'int64']]
low_missing_categorical = [col for col in low_missing_cols if df[col].dtype == 'object']

print(f"\nNumerical Columns with Low Missing Percentage: {len(low_missing_numerical)}")
print(low_missing_numerical)

print(f"\nCategorical Columns with Low Missing Percentage: {len(low_missing_categorical)}")
print(low_missing_categorical)

# Impute Missing Values
# For numerical columns, impute with mean
for col in low_missing_numerical:
    df[col].fillna(df[col].mean(), inplace=True)

# For categorical columns, impute with mode
for col in low_missing_categorical:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Verify Imputation
missing_after_imputation = df[low_missing_cols].isnull().sum()
print("\nMissing Values After Imputation:")
print(missing_after_imputation)

#******************************************************

# Verify Numerical Columns with Missing Values Filled
print("Numerical Columns with Missing Values Filled:")
for col in low_missing_numerical:
    print(f"\n{col} (First 10 values):")
    print(df[col].head(5))  # Display the first 10 values for inspection

# Verify Categorical Columns with Missing Values Filled
print("\nCategorical Columns with Missing Values Filled:")
for col in low_missing_categorical:
    print(f"\n{col} (First 10 values):")
    print(df[col].head(5))  # Display the first 10 values for inspection

#*******************************************************

# Select only the columns with low missing percentages
filled_data = df[low_missing_cols]

# Save these columns to a CSV file
filled_data.to_csv('filled_data_columns.csv', index=False)

print("The data columns have been saved to 'filled_data_columns.csv'.")

'''
#from google.colab import files
files.download('filled_data_columns.csv')'''

Columns with Low Missing Percentage (< 5%): 65 columns
['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_2', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']

Numerical Columns with Low Missing Percentage: 54
['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_2', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']

Categorical Columns with Low Missing Percentage: 11
['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE']

<ipython-input-4-78dc3bafe29d>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
<ipython-input-4-78dc3bafe29d>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

Missing Values After Imputation:
SK_ID_CURR            0
TARGET                0
NAME_CONTRACT_TYPE    0
CODE_GENDER           0
FLAG_OWN_CAR          0
                     ..
FLAG_DOCUMENT_17      0
FLAG_DOCUMENT_18      0
FLAG_DOCUMENT_19      0
FLAG_DOCUMENT_20      0
FLAG_DOCUMENT_21      0
Length: 65, dtype: int64
Numerical Columns with Missing Values Filled:

SK_ID_CURR (First 10 values):
0    100002
1    100003
2    100004
3    100006
4    100007
Name: SK_ID_CURR, dtype: int64

TARGET (First 10 values):
0    1
1    0
2    0
3    0
4    0
Name: TARGET, dtype: int64

CNT_CHILDREN (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: CNT_CHILDREN, dtype: int64

AMT_INCOME_TOTAL (First 10 values):
0    202500.0
1    270000.0
2     67500.0
3    135000.0
4    121500.0
Name: AMT_INCOME_TOTAL, dtype: float64

AMT_CREDIT (First 10 values):
0     406597.5
1    1293502.5
2     135000.0
3     312682.5
4     513000.0
Name: AMT_CREDIT, dtype: float64

AMT_ANNUITY (First 10 values):
0    24700.5
1    35698.5
2     6750.0
3    29686.5
4    21865.5
Name: AMT_ANNUITY, dtype: float64

AMT_GOODS_PRICE (First 10 values):
0     351000.0
1    1129500.0
2     135000.0
3     297000.0
4     513000.0
Name: AMT_GOODS_PRICE, dtype: float64

REGION_POPULATION_RELATIVE (First 10 values):
0    0.018801
1    0.003541
2    0.010032
3    0.008019
4    0.028663
Name: REGION_POPULATION_RELATIVE, dtype: float64

DAYS_BIRTH (First 10 values):
0    -9461
1   -16765
2   -19046
3   -19005
4   -19932
Name: DAYS_BIRTH, dtype: int64

DAYS_EMPLOYED (First 10 values):
0    -637
1   -1188
2    -225
3   -3039
4   -3038
Name: DAYS_EMPLOYED, dtype: int64

DAYS_REGISTRATION (First 10 values):
0   -3648.0
1   -1186.0
2   -4260.0
3   -9833.0
4   -4311.0
Name: DAYS_REGISTRATION, dtype: float64

DAYS_ID_PUBLISH (First 10 values):
0   -2120
1    -291
2   -2531
3   -2437
4   -3458
Name: DAYS_ID_PUBLISH, dtype: int64

FLAG_MOBIL (First 10 values):
0    1
1    1
2    1
3    1
4    1
Name: FLAG_MOBIL, dtype: int64

FLAG_EMP_PHONE (First 10 values):
0    1
1    1
2    1
3    1
4    1
Name: FLAG_EMP_PHONE, dtype: int64

FLAG_WORK_PHONE (First 10 values):
0    0
1    0
2    1
3    0
4    0
Name: FLAG_WORK_PHONE, dtype: int64

FLAG_CONT_MOBILE (First 10 values):
0    1
1    1
2    1
3    1
4    1
Name: FLAG_CONT_MOBILE, dtype: int64

FLAG_PHONE (First 10 values):
0    1
1    1
2    1
3    0
4    0
Name: FLAG_PHONE, dtype: int64

FLAG_EMAIL (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_EMAIL, dtype: int64

CNT_FAM_MEMBERS (First 10 values):
0    1.0
1    2.0
2    1.0
3    2.0
4    1.0
Name: CNT_FAM_MEMBERS, dtype: float64

REGION_RATING_CLIENT (First 10 values):
0    2
1    1
2    2
3    2
4    2
Name: REGION_RATING_CLIENT, dtype: int64

REGION_RATING_CLIENT_W_CITY (First 10 values):
0    2
1    1
2    2
3    2
4    2
Name: REGION_RATING_CLIENT_W_CITY, dtype: int64

HOUR_APPR_PROCESS_START (First 10 values):
0    10
1    11
2     9
3    17
4    11
Name: HOUR_APPR_PROCESS_START, dtype: int64

REG_REGION_NOT_LIVE_REGION (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: REG_REGION_NOT_LIVE_REGION, dtype: int64

REG_REGION_NOT_WORK_REGION (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: REG_REGION_NOT_WORK_REGION, dtype: int64

LIVE_REGION_NOT_WORK_REGION (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: LIVE_REGION_NOT_WORK_REGION, dtype: int64

REG_CITY_NOT_LIVE_CITY (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: REG_CITY_NOT_LIVE_CITY, dtype: int64

REG_CITY_NOT_WORK_CITY (First 10 values):
0    0
1    0
2    0
3    0
4    1
Name: REG_CITY_NOT_WORK_CITY, dtype: int64

LIVE_CITY_NOT_WORK_CITY (First 10 values):
0    0
1    0
2    0
3    0
4    1
Name: LIVE_CITY_NOT_WORK_CITY, dtype: int64

EXT_SOURCE_2 (First 10 values):
0    0.262949
1    0.622246
2    0.555912
3    0.650442
4    0.322738
Name: EXT_SOURCE_2, dtype: float64

OBS_30_CNT_SOCIAL_CIRCLE (First 10 values):
0    2.0
1    1.0
2    0.0
3    2.0
4    0.0
Name: OBS_30_CNT_SOCIAL_CIRCLE, dtype: float64

DEF_30_CNT_SOCIAL_CIRCLE (First 10 values):
0    2.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: DEF_30_CNT_SOCIAL_CIRCLE, dtype: float64

OBS_60_CNT_SOCIAL_CIRCLE (First 10 values):
0    2.0
1    1.0
2    0.0
3    2.0
4    0.0
Name: OBS_60_CNT_SOCIAL_CIRCLE, dtype: float64

DEF_60_CNT_SOCIAL_CIRCLE (First 10 values):
0    2.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: DEF_60_CNT_SOCIAL_CIRCLE, dtype: float64

DAYS_LAST_PHONE_CHANGE (First 10 values):
0   -1134.0
1    -828.0
2    -815.0
3    -617.0
4   -1106.0
Name: DAYS_LAST_PHONE_CHANGE, dtype: float64

FLAG_DOCUMENT_2 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_2, dtype: int64

FLAG_DOCUMENT_3 (First 10 values):
0    1
1    1
2    0
3    1
4    0
Name: FLAG_DOCUMENT_3, dtype: int64

FLAG_DOCUMENT_4 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_4, dtype: int64

FLAG_DOCUMENT_5 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_5, dtype: int64

FLAG_DOCUMENT_6 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_6, dtype: int64

FLAG_DOCUMENT_7 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_7, dtype: int64

FLAG_DOCUMENT_8 (First 10 values):
0    0
1    0
2    0
3    0
4    1
Name: FLAG_DOCUMENT_8, dtype: int64

FLAG_DOCUMENT_9 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_9, dtype: int64

FLAG_DOCUMENT_10 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_10, dtype: int64

FLAG_DOCUMENT_11 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_11, dtype: int64

FLAG_DOCUMENT_12 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_12, dtype: int64

FLAG_DOCUMENT_13 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_13, dtype: int64

FLAG_DOCUMENT_14 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_14, dtype: int64

FLAG_DOCUMENT_15 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_15, dtype: int64

FLAG_DOCUMENT_16 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_16, dtype: int64

FLAG_DOCUMENT_17 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_17, dtype: int64

FLAG_DOCUMENT_18 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_18, dtype: int64

FLAG_DOCUMENT_19 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_19, dtype: int64

FLAG_DOCUMENT_20 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_20, dtype: int64

FLAG_DOCUMENT_21 (First 10 values):
0    0
1    0
2    0
3    0
4    0
Name: FLAG_DOCUMENT_21, dtype: int64

Categorical Columns with Missing Values Filled:

NAME_CONTRACT_TYPE (First 10 values):
0         Cash loans
1         Cash loans
2    Revolving loans
3         Cash loans
4         Cash loans
Name: NAME_CONTRACT_TYPE, dtype: object

CODE_GENDER (First 10 values):
0    M
1    F
2    M
3    F
4    M
Name: CODE_GENDER, dtype: object

FLAG_OWN_CAR (First 10 values):
0    N
1    N
2    Y
3    N
4    N
Name: FLAG_OWN_CAR, dtype: object

FLAG_OWN_REALTY (First 10 values):
0    Y
1    N
2    Y
3    Y
4    Y
Name: FLAG_OWN_REALTY, dtype: object

NAME_TYPE_SUITE (First 10 values):
0    Unaccompanied
1           Family
2    Unaccompanied
3    Unaccompanied
4    Unaccompanied
Name: NAME_TYPE_SUITE, dtype: object

NAME_INCOME_TYPE (First 10 values):
0          Working
1    State servant
2          Working
3          Working
4          Working
Name: NAME_INCOME_TYPE, dtype: object

NAME_EDUCATION_TYPE (First 10 values):
0    Secondary / secondary special
1                 Higher education
2    Secondary / secondary special
3    Secondary / secondary special
4    Secondary / secondary special
Name: NAME_EDUCATION_TYPE, dtype: object

NAME_FAMILY_STATUS (First 10 values):
0    Single / not married
1                 Married
2    Single / not married
3          Civil marriage
4    Single / not married
Name: NAME_FAMILY_STATUS, dtype: object

NAME_HOUSING_TYPE (First 10 values):
0    House / apartment
1    House / apartment
2    House / apartment
3    House / apartment
4    House / apartment
Name: NAME_HOUSING_TYPE, dtype: object

WEEKDAY_APPR_PROCESS_START (First 10 values):
0    WEDNESDAY
1       MONDAY
2       MONDAY
3    WEDNESDAY
4     THURSDAY
Name: WEEKDAY_APPR_PROCESS_START, dtype: object

ORGANIZATION_TYPE (First 10 values):
0    Business Entity Type 3
1                    School
2                Government
3    Business Entity Type 3
4                  Religion
Name: ORGANIZATION_TYPE, dtype: object
The data columns have been saved to 'filled_data_columns.csv'.

"\n#from google.colab import files\nfiles.download('filled_data_columns.csv')"

Handling Columns with Moderate Missingness (5% - 50%)

In [ ]:
# Step 1: Identify Columns with Moderate Missingness (5% - 50%)
print(f"Columns with Moderate Missingness (5% - 50%): {len(moderate_missing_cols)} columns")
print(moderate_missing_cols)

# Step 2: Separate Columns by Data Type
moderate_missing_numerical = [col for col in moderate_missing_cols if df[col].dtype in ['float64', 'int64']]
moderate_missing_categorical = [col for col in moderate_missing_cols if df[col].dtype == 'object']

print(f"\nNumerical Columns with Moderate Missingness: {len(moderate_missing_numerical)}")
print(moderate_missing_numerical)

print(f"\nCategorical Columns with Moderate Missingness: {len(moderate_missing_categorical)}")
print(moderate_missing_categorical)

# Step 3: Decide and Apply Imputation
# For numerical columns, impute with median (more robust to outliers)
for col in moderate_missing_numerical:
    df[col].fillna(df[col].median(), inplace=True)

# For categorical columns, impute with mode
for col in moderate_missing_categorical:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Step 4: Verify Imputation
# Check missing values in moderate missing columns
missing_after_imputation = df[moderate_missing_cols].isnull().sum()
print("\nMissing Values After Imputation in Moderate Missingness Columns:")
print(missing_after_imputation)

# Preview the first 5 rows of the columns with moderate missingness after imputation
print("\nPreview of Cleaned Moderate Missingness Columns (First 5 Rows):")
for col in moderate_missing_cols:
    print(f"\n{col}:")
    print(df[col].head(5))  # Display first 5 values for inspection


# Save the entire DataFrame (or just the moderate missing columns) to a CSV file
df[moderate_missing_cols].to_csv('moderate_missing_data_filled.csv', index=False)

print("The columns with moderate missingness have been saved to 'moderate_missing_data_filled.csv'.")
'''
from google.colab import files
files.download('moderate_missing_data_filled.csv') '''

# Step 6: Count total missing values in the entire dataset
total_missing_values = df.isnull().sum().sum()
print(f"\nTotal Missing Values in Entire Dataset After Imputation: {total_missing_values}")

Columns with Moderate Missingness (5% - 50%): 16 columns
['OCCUPATION_TYPE', 'EXT_SOURCE_3', 'YEARS_BEGINEXPLUATATION_AVG', 'FLOORSMAX_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'FLOORSMAX_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE', 'EMERGENCYSTATE_MODE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

Numerical Columns with Moderate Missingness: 14
['EXT_SOURCE_3', 'YEARS_BEGINEXPLUATATION_AVG', 'FLOORSMAX_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'FLOORSMAX_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

Categorical Columns with Moderate Missingness: 2
['OCCUPATION_TYPE', 'EMERGENCYSTATE_MODE']

<ipython-input-5-b66741d5d6ba>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
<ipython-input-5-b66741d5d6ba>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

Missing Values After Imputation in Moderate Missingness Columns:
OCCUPATION_TYPE                 0
EXT_SOURCE_3                    0
YEARS_BEGINEXPLUATATION_AVG     0
FLOORSMAX_AVG                   0
YEARS_BEGINEXPLUATATION_MODE    0
FLOORSMAX_MODE                  0
YEARS_BEGINEXPLUATATION_MEDI    0
FLOORSMAX_MEDI                  0
TOTALAREA_MODE                  0
EMERGENCYSTATE_MODE             0
AMT_REQ_CREDIT_BUREAU_HOUR      0
AMT_REQ_CREDIT_BUREAU_DAY       0
AMT_REQ_CREDIT_BUREAU_WEEK      0
AMT_REQ_CREDIT_BUREAU_MON       0
AMT_REQ_CREDIT_BUREAU_QRT       0
AMT_REQ_CREDIT_BUREAU_YEAR      0
dtype: int64

Preview of Cleaned Moderate Missingness Columns (First 5 Rows):

OCCUPATION_TYPE:
0      Laborers
1    Core staff
2      Laborers
3      Laborers
4    Core staff
Name: OCCUPATION_TYPE, dtype: object

EXT_SOURCE_3:
0    0.139376
1    0.535276
2    0.729567
3    0.535276
4    0.535276
Name: EXT_SOURCE_3, dtype: float64

YEARS_BEGINEXPLUATATION_AVG:
0    0.9722
1    0.9851
2    0.9816
3    0.9816
4    0.9816
Name: YEARS_BEGINEXPLUATATION_AVG, dtype: float64

FLOORSMAX_AVG:
0    0.0833
1    0.2917
2    0.1667
3    0.1667
4    0.1667
Name: FLOORSMAX_AVG, dtype: float64

YEARS_BEGINEXPLUATATION_MODE:
0    0.9722
1    0.9851
2    0.9816
3    0.9816
4    0.9816
Name: YEARS_BEGINEXPLUATATION_MODE, dtype: float64

FLOORSMAX_MODE:
0    0.0833
1    0.2917
2    0.1667
3    0.1667
4    0.1667
Name: FLOORSMAX_MODE, dtype: float64

YEARS_BEGINEXPLUATATION_MEDI:
0    0.9722
1    0.9851
2    0.9816
3    0.9816
4    0.9816
Name: YEARS_BEGINEXPLUATATION_MEDI, dtype: float64

FLOORSMAX_MEDI:
0    0.0833
1    0.2917
2    0.1667
3    0.1667
4    0.1667
Name: FLOORSMAX_MEDI, dtype: float64

TOTALAREA_MODE:
0    0.0149
1    0.0714
2    0.0688
3    0.0688
4    0.0688
Name: TOTALAREA_MODE, dtype: float64

EMERGENCYSTATE_MODE:
0    No
1    No
2    No
3    No
4    No
Name: EMERGENCYSTATE_MODE, dtype: object

AMT_REQ_CREDIT_BUREAU_HOUR:
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: AMT_REQ_CREDIT_BUREAU_HOUR, dtype: float64

AMT_REQ_CREDIT_BUREAU_DAY:
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: AMT_REQ_CREDIT_BUREAU_DAY, dtype: float64

AMT_REQ_CREDIT_BUREAU_WEEK:
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: float64

AMT_REQ_CREDIT_BUREAU_MON:
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: AMT_REQ_CREDIT_BUREAU_MON, dtype: float64

AMT_REQ_CREDIT_BUREAU_QRT:
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: AMT_REQ_CREDIT_BUREAU_QRT, dtype: float64

AMT_REQ_CREDIT_BUREAU_YEAR:
0    1.0
1    0.0
2    0.0
3    1.0
4    0.0
Name: AMT_REQ_CREDIT_BUREAU_YEAR, dtype: float64
The columns with moderate missingness have been saved to 'moderate_missing_data_filled.csv'.

Total Missing Values in Entire Dataset After Imputation: 7536399

identify high missing values precentages(>50%)

In [ ]:
# Step 1: Identify columns with >50% missing values
high_missing_columns = missing_percentage[missing_percentage > 50].index.tolist()  # Convert to list

# Step 2: Display the columns and their percentages
print("High Missing Value Columns and Percentages:")
print(missing_percentage[missing_percentage > 50])

# Step 3: Number of high-missing columns
print("\nTotal Number of High Missing Value Columns:", len(high_missing_columns))

High Missing Value Columns and Percentages:
OWN_CAR_AGE                 65.990810
EXT_SOURCE_1                56.381073
APARTMENTS_AVG              50.749729
BASEMENTAREA_AVG            58.515956
YEARS_BUILD_AVG             66.497784
COMMONAREA_AVG              69.872297
ELEVATORS_AVG               53.295980
ENTRANCES_AVG               50.348768
FLOORSMIN_AVG               67.848630
LANDAREA_AVG                59.376738
LIVINGAPARTMENTS_AVG        68.354953
LIVINGAREA_AVG              50.193326
NONLIVINGAPARTMENTS_AVG     69.432963
NONLIVINGAREA_AVG           55.179164
APARTMENTS_MODE             50.749729
BASEMENTAREA_MODE           58.515956
YEARS_BUILD_MODE            66.497784
COMMONAREA_MODE             69.872297
ELEVATORS_MODE              53.295980
ENTRANCES_MODE              50.348768
FLOORSMIN_MODE              67.848630
LANDAREA_MODE               59.376738
LIVINGAPARTMENTS_MODE       68.354953
LIVINGAREA_MODE             50.193326
NONLIVINGAPARTMENTS_MODE    69.432963
NONLIVINGAREA_MODE          55.179164
APARTMENTS_MEDI             50.749729
BASEMENTAREA_MEDI           58.515956
YEARS_BUILD_MEDI            66.497784
COMMONAREA_MEDI             69.872297
ELEVATORS_MEDI              53.295980
ENTRANCES_MEDI              50.348768
FLOORSMIN_MEDI              67.848630
LANDAREA_MEDI               59.376738
LIVINGAPARTMENTS_MEDI       68.354953
LIVINGAREA_MEDI             50.193326
NONLIVINGAPARTMENTS_MEDI    69.432963
NONLIVINGAREA_MEDI          55.179164
FONDKAPREMONT_MODE          68.386172
HOUSETYPE_MODE              50.176091
WALLSMATERIAL_MODE          50.840783
dtype: float64

Total Number of High Missing Value Columns: 41

check the correlaiton with target variable(numerical)

In [ ]:
# Step 4: Filter the numerical columns from the high missing columns
numerical_columns = df[high_missing_columns].select_dtypes(include=['float64', 'int64']).columns

# Step 5: Display numerical columns
print("\nNumerical Columns with High Missing Values:")
print(numerical_columns)
print("\nTotal Number of numerical Columns:", len(numerical_columns))

# Step 6: Calculate the correlation with the target variable (if the columns are numerical)
correlation_with_target = df[numerical_columns].corrwith(df['TARGET'])

# Display the correlation results
print("\nCorrelation with TARGET:")
print(correlation_with_target)

Numerical Columns with High Missing Values:
Index(['OWN_CAR_AGE', 'EXT_SOURCE_1', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG',
       'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG',
       'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG',
       'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
       'BASEMENTAREA_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
       'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI'],
      dtype='object')

Total Number of numerical Columns: 38

Correlation with TARGET:
OWN_CAR_AGE                 0.037612
EXT_SOURCE_1               -0.155317
APARTMENTS_AVG             -0.029498
BASEMENTAREA_AVG           -0.022746
YEARS_BUILD_AVG            -0.022149
COMMONAREA_AVG             -0.018550
ELEVATORS_AVG              -0.034199
ENTRANCES_AVG              -0.019172
FLOORSMIN_AVG              -0.033614
LANDAREA_AVG               -0.010885
LIVINGAPARTMENTS_AVG       -0.025031
LIVINGAREA_AVG             -0.032997
NONLIVINGAPARTMENTS_AVG    -0.003176
NONLIVINGAREA_AVG          -0.013578
APARTMENTS_MODE            -0.027284
BASEMENTAREA_MODE          -0.019952
YEARS_BUILD_MODE           -0.022068
COMMONAREA_MODE            -0.016340
ELEVATORS_MODE             -0.032131
ENTRANCES_MODE             -0.017387
FLOORSMIN_MODE             -0.032698
LANDAREA_MODE              -0.010174
LIVINGAPARTMENTS_MODE      -0.023393
LIVINGAREA_MODE            -0.030685
NONLIVINGAPARTMENTS_MODE   -0.001557
NONLIVINGAREA_MODE         -0.012711
APARTMENTS_MEDI            -0.029184
BASEMENTAREA_MEDI          -0.022081
YEARS_BUILD_MEDI           -0.022326
COMMONAREA_MEDI            -0.018573
ELEVATORS_MEDI             -0.033863
ENTRANCES_MEDI             -0.019025
FLOORSMIN_MEDI             -0.033394
LANDAREA_MEDI              -0.011256
LIVINGAPARTMENTS_MEDI      -0.024621
LIVINGAREA_MEDI            -0.032739
NONLIVINGAPARTMENTS_MEDI   -0.002757
NONLIVINGAREA_MEDI         -0.013337
dtype: float64

check the correlation with target variable(categorical)

In [ ]:
from scipy.stats import pointbiserialr

# Step 1: Identify high missing value categorical variables
high_missing_columns = df.columns[df.isnull().mean() > 0.5]  # Columns with >50% missing values
high_missing_categorical = df[high_missing_columns].select_dtypes(include=['object']).columns

print(f"High missing value categorical variables: {list(high_missing_categorical)}")
print("\nTotal Number of High missing value categorical Columns:", len(high_missing_categorical))

# Step 2: Encode categorical variables into numerical format
for column in high_missing_categorical:
    df[column] = pd.factorize(df[column])[0]  # Factorize replaces categories with unique integers

# Step 3: Compute Point Biserial Correlation for each high missing categorical variable
pbc_results = {}

for column in high_missing_categorical:
    # Ensure no NaNs in the column before calculating correlation
    if df[column].isnull().sum() == 0:
        correlation, p_value = pointbiserialr(df[column], df['TARGET'])
        pbc_results[column] = {"Correlation": correlation, "p-value": p_value}

# Step 4: Display Results
for col, stats in pbc_results.items():
    print(f"{col}: Correlation = {stats['Correlation']:.4f}, p-value = {stats['p-value']:.4f}")

High missing value categorical variables: ['FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE']

Total Number of High missing value categorical Columns: 3
FONDKAPREMONT_MODE: Correlation = -0.0240, p-value = 0.0000
HOUSETYPE_MODE: Correlation = -0.0356, p-value = 0.0000
WALLSMATERIAL_MODE: Correlation = -0.0336, p-value = 0.0000

select the only suitable attributes within high missings and handle that missing values

In [ ]:
# Step 1: Define thresholds for correlation and p-value
correlation_threshold = 0.1  # Absolute correlation value
p_value_threshold = 0.05    # Statistical significance for Point Biserial Correlation

# Step 2: Filter numerical attributes based on correlation with target
suitable_numerical = correlation_with_target[
    correlation_with_target.abs() > correlation_threshold
].index.tolist()

print("\nSuitable Numerical Attributes:", suitable_numerical)

# Step 3: Filter categorical attributes based on Point Biserial Correlation and p-value
suitable_categorical = [
    col for col, stats in pbc_results.items()
    if abs(stats['Correlation']) > correlation_threshold and stats['p-value'] < p_value_threshold
]

print("\nSuitable Categorical Attributes:", suitable_categorical)

# Step 4: Extract suitable numerical and categorical columns from the dataframe
suitable_data_numerical = df[suitable_numerical]
suitable_data_categorical = df[suitable_categorical]

# Step 5: Combine the suitable numerical and categorical columns
suitable_data = pd.concat([suitable_data_numerical, suitable_data_categorical], axis=1)

# Step 6: Impute missing values for numerical columns with median
for col in suitable_numerical:
    suitable_data[col].fillna(suitable_data[col].median(), inplace=True)

# Step 7: Impute missing values for categorical columns with mode (most frequent value)
for col in suitable_categorical:
    suitable_data[col].fillna(suitable_data[col].mode()[0], inplace=True)

# Step 8: Verify that all missing values are filled
missing_after_imputation = suitable_data.isnull().sum()
print("\nMissing Values After Imputation in Suitable Data:")
print(missing_after_imputation)

# Step 9: Optionally, preview the first few rows of the imputed data
print("\nPreview of Suitable Data After Imputation (First 10 Rows):")
print(suitable_data.head(10))

# Step 10: Save the imputed data to a CSV file
suitable_data.to_csv('suitable_data_filled.csv', index=False)

'''
# If using Google Colab, you can download the file:
from google.colab import files
files.download('suitable_data_filled.csv')'''

print("\nThe suitable data with imputed values has been saved to 'suitable_data_filled.csv'.")

Suitable Numerical Attributes: ['EXT_SOURCE_1']

Suitable Categorical Attributes: []

Missing Values After Imputation in Suitable Data:
EXT_SOURCE_1    0
dtype: int64

Preview of Suitable Data After Imputation (First 10 Rows):
   EXT_SOURCE_1
0      0.083037
1      0.311267
2      0.505998
3      0.505998
4      0.505998
5      0.505998
6      0.774761
7      0.505998
8      0.587334
9      0.505998

<ipython-input-9-ef3320c0cfae>:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  suitable_data[col].fillna(suitable_data[col].median(), inplace=True)

The suitable data with imputed values has been saved to 'suitable_data_filled.csv'.

Combine the separate data sets and get the completed final data set without missing values

In [ ]:
import pandas as pd

# Step 1: Load the low, moderate, and high missing value datasets
low_missing_data = pd.read_csv('filled_data_columns.csv')
moderate_missing_data = pd.read_csv('moderate_missing_data_filled.csv')
high_missing_data = pd.read_csv('suitable_data_filled.csv')

# Step 2: Combine all datasets
# Ensure there are no overlapping columns except the target (if necessary)
combined_data = pd.concat([low_missing_data, moderate_missing_data, high_missing_data], axis=1)


# Step 4: Save the combined dataset to a new CSV file
combined_data.to_csv('combined_data_filled.csv', index=False)

'''# If using Google Colab, download the file
from google.colab import files
files.download('combined_data_filled.csv')'''

num_attributes = len(combined_data.columns)
print(f"Total number of attributes (columns) in the combined dataset: {num_attributes}")

print("\nThe combined dataset has been saved to 'combined_data_filled.csv'.")

Total number of attributes (columns) in the combined dataset: 82

The combined dataset has been saved to 'combined_data_filled.csv'.

**Encoding the categorical varibles............**

load the final completed data set

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/combined_data_filled.csv')

print(df.head(5))

# Display the number of attributes (columns)
num_attributes = df.shape[1]
print(f"Number of Attributes (Columns): {num_attributes}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0
3               Y             0          135000.0    312682.5      29686.5
4               Y             0          121500.0    513000.0      21865.5

   AMT_GOODS_PRICE NAME_TYPE_SUITE NAME_INCOME_TYPE  \
0         351000.0   Unaccompanied          Working
1        1129500.0          Family    State servant
2         135000.0   Unaccompanied          Working
3         297000.0   Unaccompanied          Working
4         513000.0   Unaccompanied          Working

             NAME_EDUCATION_TYPE    NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  \
0  Secondary / secondary special  Single / not married  House / apartment
1               Higher education               Married  House / apartment
2  Secondary / secondary special  Single / not married  House / apartment
3  Secondary / secondary special        Civil marriage  House / apartment
4  Secondary / secondary special  Single / not married  House / apartment

   REGION_POPULATION_RELATIVE  DAYS_BIRTH  DAYS_EMPLOYED  DAYS_REGISTRATION  \
0                    0.018801       -9461           -637            -3648.0
1                    0.003541      -16765          -1188            -1186.0
2                    0.010032      -19046           -225            -4260.0
3                    0.008019      -19005          -3039            -9833.0
4                    0.028663      -19932          -3038            -4311.0

   DAYS_ID_PUBLISH  FLAG_MOBIL  FLAG_EMP_PHONE  FLAG_WORK_PHONE  \
0            -2120           1               1                0
1             -291           1               1                0
2            -2531           1               1                1
3            -2437           1               1                0
4            -3458           1               1                0

   FLAG_CONT_MOBILE  FLAG_PHONE  FLAG_EMAIL  CNT_FAM_MEMBERS  \
0                 1           1           0              1.0
1                 1           1           0              2.0
2                 1           1           0              1.0
3                 1           0           0              2.0
4                 1           0           0              1.0

   REGION_RATING_CLIENT  REGION_RATING_CLIENT_W_CITY  \
0                     2                            2
1                     1                            1
2                     2                            2
3                     2                            2
4                     2                            2

  WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  \
0                  WEDNESDAY                       10
1                     MONDAY                       11
2                     MONDAY                        9
3                  WEDNESDAY                       17
4                   THURSDAY                       11

   REG_REGION_NOT_LIVE_REGION  REG_REGION_NOT_WORK_REGION  \
0                           0                           0
1                           0                           0
2                           0                           0
3                           0                           0
4                           0                           0

   LIVE_REGION_NOT_WORK_REGION  REG_CITY_NOT_LIVE_CITY  \
0                            0                       0
1                            0                       0
2                            0                       0
3                            0                       0
4                            0                       0

   REG_CITY_NOT_WORK_CITY  LIVE_CITY_NOT_WORK_CITY       ORGANIZATION_TYPE  \
0                       0                        0  Business Entity Type 3
1                       0                        0                  School
2                       0                        0              Government
3                       0                        0  Business Entity Type 3
4                       1                        1                Religion

   EXT_SOURCE_2  OBS_30_CNT_SOCIAL_CIRCLE  DEF_30_CNT_SOCIAL_CIRCLE  \
0      0.262949                       2.0                       2.0
1      0.622246                       1.0                       0.0
2      0.555912                       0.0                       0.0
3      0.650442                       2.0                       0.0
4      0.322738                       0.0                       0.0

   OBS_60_CNT_SOCIAL_CIRCLE  DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  \
0                       2.0                       2.0                 -1134.0
1                       1.0                       0.0                  -828.0
2                       0.0                       0.0                  -815.0
3                       2.0                       0.0                  -617.0
4                       0.0                       0.0                 -1106.0

   FLAG_DOCUMENT_2  FLAG_DOCUMENT_3  FLAG_DOCUMENT_4  FLAG_DOCUMENT_5  \
0                0                1                0                0
1                0                1                0                0
2                0                0                0                0
3                0                1                0                0
4                0                0                0                0

   FLAG_DOCUMENT_6  FLAG_DOCUMENT_7  FLAG_DOCUMENT_8  FLAG_DOCUMENT_9  \
0                0                0                0                0
1                0                0                0                0
2                0                0                0                0
3                0                0                0                0
4                0                0                1                0

   FLAG_DOCUMENT_10  FLAG_DOCUMENT_11  FLAG_DOCUMENT_12  FLAG_DOCUMENT_13  \
0                 0                 0                 0                 0
1                 0                 0                 0                 0
2                 0                 0                 0                 0
3                 0                 0                 0                 0
4                 0                 0                 0                 0

   FLAG_DOCUMENT_14  FLAG_DOCUMENT_15  FLAG_DOCUMENT_16  FLAG_DOCUMENT_17  \
0                 0                 0                 0                 0
1                 0                 0                 0                 0
2                 0                 0                 0                 0
3                 0                 0                 0                 0
4                 0                 0                 0                 0

   FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  \
0                 0                 0                 0                 0
1                 0                 0                 0                 0
2                 0                 0                 0                 0
3                 0                 0                 0                 0
4                 0                 0                 0                 0

  OCCUPATION_TYPE  EXT_SOURCE_3  YEARS_BEGINEXPLUATATION_AVG  FLOORSMAX_AVG  \
0        Laborers      0.139376                       0.9722         0.0833
1      Core staff      0.535276                       0.9851         0.2917
2        Laborers      0.729567                       0.9816         0.1667
3        Laborers      0.535276                       0.9816         0.1667
4      Core staff      0.535276                       0.9816         0.1667

   YEARS_BEGINEXPLUATATION_MODE  FLOORSMAX_MODE  YEARS_BEGINEXPLUATATION_MEDI  \
0                        0.9722          0.0833                        0.9722
1                        0.9851          0.2917                        0.9851
2                        0.9816          0.1667                        0.9816
3                        0.9816          0.1667                        0.9816
4                        0.9816          0.1667                        0.9816

   FLOORSMAX_MEDI  TOTALAREA_MODE EMERGENCYSTATE_MODE  \
0          0.0833          0.0149                  No
1          0.2917          0.0714                  No
2          0.1667          0.0688                  No
3          0.1667          0.0688                  No
4          0.1667          0.0688                  No

   AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         0.0                        0.0
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         0.0                        0.0
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR  EXT_SOURCE_1
0                        0.0                         1.0      0.083037
1                        0.0                         0.0      0.311267
2                        0.0                         0.0      0.505998
3                        0.0                         1.0      0.505998
4                        0.0                         0.0      0.505998
Number of Attributes (Columns): 82

identify the categorical varibles

In [ ]:
# Identify categorical columns in the dataset
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()

# Display the categorical columns and their count
print(f"Categorical Columns ({len(categorical_columns)}):")
print(categorical_columns)

Categorical Columns (13):
['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'OCCUPATION_TYPE', 'EMERGENCYSTATE_MODE']

Divide the categorical data set to suitable encoding method

In [ ]:
#Separate columns for One-Hot Encoding and Label Encoding
one_hot_columns = [col for col in categorical_columns if df[col].nunique() <= 10]
label_columns = [col for col in categorical_columns if df[col].nunique() > 10]

# Display results
print(f"Columns for One-Hot Encoding ({len(one_hot_columns)}):")
print(one_hot_columns)

print(f"\nColumns for Label Encoding ({len(label_columns)}):")
print(label_columns)

Columns for One-Hot Encoding (11):
['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'EMERGENCYSTATE_MODE']

Columns for Label Encoding (2):
['ORGANIZATION_TYPE', 'OCCUPATION_TYPE']

do the encoding and download the final data set

In [ ]:
from sklearn.preprocessing import LabelEncoder


#Before encoding, get the number of columns
original_num_columns = df.shape[1]
print(f"Original number of columns: {original_num_columns}")

#.......................................................

# Apply One-Hot Encoding
df = pd.get_dummies(df, columns=one_hot_columns, drop_first=True)

# Apply Label Encoding
le = LabelEncoder()
for col in label_columns:
    df[col] = le.fit_transform(df[col])

#.......................................................

# After encoding, get the number of columns
new_num_columns = df.shape[1]
print(f"New number of columns after encoding: {new_num_columns}")


# Calculate the number of new columns created
num_new_columns = new_num_columns - original_num_columns
print(f"\nNumber of new columns created by encoding: {num_new_columns}")

# Verify encoding
print("\nData after encoding:")
print(df.head(5))


# Save the encoded dataset to a new CSV file
df.to_csv('final_encoded_data.csv', index=False)
'''
# If using Google Colab, download the file
from google.colab import files
files.download('final_encoded_data.csv')'''

Original number of columns: 82
New number of columns after encoding: 110

Number of new columns created by encoding: 28

Data after encoding:
   SK_ID_CURR  TARGET  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0      100002       1             0          202500.0    406597.5
1      100003       0             0          270000.0   1293502.5
2      100004       0             0           67500.0    135000.0
3      100006       0             0          135000.0    312682.5
4      100007       0             0          121500.0    513000.0

   AMT_ANNUITY  AMT_GOODS_PRICE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  \
0      24700.5         351000.0                    0.018801       -9461
1      35698.5        1129500.0                    0.003541      -16765
2       6750.0         135000.0                    0.010032      -19046
3      29686.5         297000.0                    0.008019      -19005
4      21865.5         513000.0                    0.028663      -19932

   DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  FLAG_MOBIL  \
0           -637            -3648.0            -2120           1
1          -1188            -1186.0             -291           1
2           -225            -4260.0            -2531           1
3          -3039            -9833.0            -2437           1
4          -3038            -4311.0            -3458           1

   FLAG_EMP_PHONE  FLAG_WORK_PHONE  FLAG_CONT_MOBILE  FLAG_PHONE  FLAG_EMAIL  \
0               1                0                 1           1           0
1               1                0                 1           1           0
2               1                1                 1           1           0
3               1                0                 1           0           0
4               1                0                 1           0           0

   CNT_FAM_MEMBERS  REGION_RATING_CLIENT  REGION_RATING_CLIENT_W_CITY  \
0              1.0                     2                            2
1              2.0                     1                            1
2              1.0                     2                            2
3              2.0                     2                            2
4              1.0                     2                            2

   HOUR_APPR_PROCESS_START  REG_REGION_NOT_LIVE_REGION  \
0                       10                           0
1                       11                           0
2                        9                           0
3                       17                           0
4                       11                           0

   REG_REGION_NOT_WORK_REGION  LIVE_REGION_NOT_WORK_REGION  \
0                           0                            0
1                           0                            0
2                           0                            0
3                           0                            0
4                           0                            0

   REG_CITY_NOT_LIVE_CITY  REG_CITY_NOT_WORK_CITY  LIVE_CITY_NOT_WORK_CITY  \
0                       0                       0                        0
1                       0                       0                        0
2                       0                       0                        0
3                       0                       0                        0
4                       0                       1                        1

   ORGANIZATION_TYPE  EXT_SOURCE_2  OBS_30_CNT_SOCIAL_CIRCLE  \
0                  5      0.262949                       2.0
1                 39      0.622246                       1.0
2                 11      0.555912                       0.0
3                  5      0.650442                       2.0
4                 37      0.322738                       0.0

   DEF_30_CNT_SOCIAL_CIRCLE  OBS_60_CNT_SOCIAL_CIRCLE  \
0                       2.0                       2.0
1                       0.0                       1.0
2                       0.0                       0.0
3                       0.0                       2.0
4                       0.0                       0.0

   DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  FLAG_DOCUMENT_2  \
0                       2.0                 -1134.0                0
1                       0.0                  -828.0                0
2                       0.0                  -815.0                0
3                       0.0                  -617.0                0
4                       0.0                 -1106.0                0

   FLAG_DOCUMENT_3  FLAG_DOCUMENT_4  FLAG_DOCUMENT_5  FLAG_DOCUMENT_6  \
0                1                0                0                0
1                1                0                0                0
2                0                0                0                0
3                1                0                0                0
4                0                0                0                0

   FLAG_DOCUMENT_7  FLAG_DOCUMENT_8  FLAG_DOCUMENT_9  FLAG_DOCUMENT_10  \
0                0                0                0                 0
1                0                0                0                 0
2                0                0                0                 0
3                0                0                0                 0
4                0                1                0                 0

   FLAG_DOCUMENT_11  FLAG_DOCUMENT_12  FLAG_DOCUMENT_13  FLAG_DOCUMENT_14  \
0                 0                 0                 0                 0
1                 0                 0                 0                 0
2                 0                 0                 0                 0
3                 0                 0                 0                 0
4                 0                 0                 0                 0

   FLAG_DOCUMENT_15  FLAG_DOCUMENT_16  FLAG_DOCUMENT_17  FLAG_DOCUMENT_18  \
0                 0                 0                 0                 0
1                 0                 0                 0                 0
2                 0                 0                 0                 0
3                 0                 0                 0                 0
4                 0                 0                 0                 0

   FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  OCCUPATION_TYPE  \
0                 0                 0                 0                8
1                 0                 0                 0                3
2                 0                 0                 0                8
3                 0                 0                 0                8
4                 0                 0                 0                3

   EXT_SOURCE_3  YEARS_BEGINEXPLUATATION_AVG  FLOORSMAX_AVG  \
0      0.139376                       0.9722         0.0833
1      0.535276                       0.9851         0.2917
2      0.729567                       0.9816         0.1667
3      0.535276                       0.9816         0.1667
4      0.535276                       0.9816         0.1667

   YEARS_BEGINEXPLUATATION_MODE  FLOORSMAX_MODE  YEARS_BEGINEXPLUATATION_MEDI  \
0                        0.9722          0.0833                        0.9722
1                        0.9851          0.2917                        0.9851
2                        0.9816          0.1667                        0.9816
3                        0.9816          0.1667                        0.9816
4                        0.9816          0.1667                        0.9816

   FLOORSMAX_MEDI  TOTALAREA_MODE  AMT_REQ_CREDIT_BUREAU_HOUR  \
0          0.0833          0.0149                         0.0
1          0.2917          0.0714                         0.0
2          0.1667          0.0688                         0.0
3          0.1667          0.0688                         0.0
4          0.1667          0.0688                         0.0

   AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                        0.0                         0.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        0.0                         0.0
4                        0.0                         0.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        0.0                        0.0
4                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_YEAR  EXT_SOURCE_1  \
0                         1.0      0.083037
1                         0.0      0.311267
2                         0.0      0.505998
3                         1.0      0.505998
4                         0.0      0.505998

   NAME_CONTRACT_TYPE_Revolving loans  CODE_GENDER_M  CODE_GENDER_XNA  \
0                               False           True            False
1                               False          False            False
2                                True           True            False
3                               False          False            False
4                               False           True            False

   FLAG_OWN_CAR_Y  FLAG_OWN_REALTY_Y  NAME_TYPE_SUITE_Family  \
0           False               True                   False
1           False              False                    True
2            True               True                   False
3           False               True                   False
4           False               True                   False

   NAME_TYPE_SUITE_Group of people  NAME_TYPE_SUITE_Other_A  \
0                            False                    False
1                            False                    False
2                            False                    False
3                            False                    False
4                            False                    False

   NAME_TYPE_SUITE_Other_B  NAME_TYPE_SUITE_Spouse, partner  \
0                    False                            False
1                    False                            False
2                    False                            False
3                    False                            False
4                    False                            False

   NAME_TYPE_SUITE_Unaccompanied  NAME_INCOME_TYPE_Commercial associate  \
0                           True                                  False
1                          False                                  False
2                           True                                  False
3                           True                                  False
4                           True                                  False

   NAME_INCOME_TYPE_Maternity leave  NAME_INCOME_TYPE_Pensioner  \
0                             False                       False
1                             False                       False
2                             False                       False
3                             False                       False
4                             False                       False

   NAME_INCOME_TYPE_State servant  NAME_INCOME_TYPE_Student  \
0                           False                     False
1                            True                     False
2                           False                     False
3                           False                     False
4                           False                     False

   NAME_INCOME_TYPE_Unemployed  NAME_INCOME_TYPE_Working  \
0                        False                      True
1                        False                     False
2                        False                      True
3                        False                      True
4                        False                      True

   NAME_EDUCATION_TYPE_Higher education  \
0                                 False
1                                  True
2                                 False
3                                 False
4                                 False

   NAME_EDUCATION_TYPE_Incomplete higher  NAME_EDUCATION_TYPE_Lower secondary  \
0                                  False                                False
1                                  False                                False
2                                  False                                False
3                                  False                                False
4                                  False                                False

   NAME_EDUCATION_TYPE_Secondary / secondary special  \
0                                               True
1                                              False
2                                               True
3                                               True
4                                               True

   NAME_FAMILY_STATUS_Married  NAME_FAMILY_STATUS_Separated  \
0                       False                         False
1                        True                         False
2                       False                         False
3                       False                         False
4                       False                         False

   NAME_FAMILY_STATUS_Single / not married  NAME_FAMILY_STATUS_Unknown  \
0                                     True                       False
1                                    False                       False
2                                     True                       False
3                                    False                       False
4                                     True                       False

   NAME_FAMILY_STATUS_Widow  NAME_HOUSING_TYPE_House / apartment  \
0                     False                                 True
1                     False                                 True
2                     False                                 True
3                     False                                 True
4                     False                                 True

   NAME_HOUSING_TYPE_Municipal apartment  NAME_HOUSING_TYPE_Office apartment  \
0                                  False                               False
1                                  False                               False
2                                  False                               False
3                                  False                               False
4                                  False                               False

   NAME_HOUSING_TYPE_Rented apartment  NAME_HOUSING_TYPE_With parents  \
0                               False                           False
1                               False                           False
2                               False                           False
3                               False                           False
4                               False                           False

   WEEKDAY_APPR_PROCESS_START_MONDAY  WEEKDAY_APPR_PROCESS_START_SATURDAY  \
0                              False                                False
1                               True                                False
2                               True                                False
3                              False                                False
4                              False                                False

   WEEKDAY_APPR_PROCESS_START_SUNDAY  WEEKDAY_APPR_PROCESS_START_THURSDAY  \
0                              False                                False
1                              False                                False
2                              False                                False
3                              False                                False
4                              False                                 True

   WEEKDAY_APPR_PROCESS_START_TUESDAY  WEEKDAY_APPR_PROCESS_START_WEDNESDAY  \
0                               False                                  True
1                               False                                 False
2                               False                                 False
3                               False                                  True
4                               False                                 False

   EMERGENCYSTATE_MODE_Yes
0                    False
1                    False
2                    False
3                    False
4                    False

"\n# If using Google Colab, download the file\nfrom google.colab import files\nfiles.download('final_encoded_data.csv')"

**Scale features...**

load the data set

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/final_encoded_data(final).csv')

print(df.head(5))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   SK_ID_CURR  TARGET  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0      100002       1             0          202500.0    406597.5
1      100003       0             0          270000.0   1293502.5
2      100004       0             0           67500.0    135000.0
3      100006       0             0          135000.0    312682.5
4      100007       0             0          121500.0    513000.0

   AMT_ANNUITY  AMT_GOODS_PRICE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  \
0      24700.5         351000.0                    0.018801       -9461
1      35698.5        1129500.0                    0.003541      -16765
2       6750.0         135000.0                    0.010032      -19046
3      29686.5         297000.0                    0.008019      -19005
4      21865.5         513000.0                    0.028663      -19932

   DAYS_EMPLOYED  ...  NAME_HOUSING_TYPE_Office apartment  \
0           -637  ...                               False
1          -1188  ...                               False
2           -225  ...                               False
3          -3039  ...                               False
4          -3038  ...                               False

   NAME_HOUSING_TYPE_Rented apartment  NAME_HOUSING_TYPE_With parents  \
0                               False                           False
1                               False                           False
2                               False                           False
3                               False                           False
4                               False                           False

   WEEKDAY_APPR_PROCESS_START_MONDAY  WEEKDAY_APPR_PROCESS_START_SATURDAY  \
0                              False                                False
1                               True                                False
2                               True                                False
3                              False                                False
4                              False                                False

   WEEKDAY_APPR_PROCESS_START_SUNDAY  WEEKDAY_APPR_PROCESS_START_THURSDAY  \
0                              False                                False
1                              False                                False
2                              False                                False
3                              False                                False
4                              False                                 True

   WEEKDAY_APPR_PROCESS_START_TUESDAY  WEEKDAY_APPR_PROCESS_START_WEDNESDAY  \
0                               False                                  True
1                               False                                 False
2                               False                                 False
3                               False                                  True
4                               False                                 False

   EMERGENCYSTATE_MODE_Yes
0                    False
1                    False
2                    False
3                    False
4                    False

[5 rows x 110 columns]

In [ ]:
# Get the number of columns in the dataset
num_columns = df.shape[1]
print(f"The dataset has {num_columns} columns.")

The dataset has 110 columns.

In [ ]:
# Check the data type of the target variable
print(df['TARGET'].dtype)

int64

In [ ]:
# Check all column data types
print(df.dtypes)

# Confirm total number of columns
print("Total columns:", len(df.columns))

SK_ID_CURR                                int64
TARGET                                    int64
CNT_CHILDREN                              int64
AMT_INCOME_TOTAL                        float64
AMT_CREDIT                              float64
                                         ...
WEEKDAY_APPR_PROCESS_START_SUNDAY          bool
WEEKDAY_APPR_PROCESS_START_THURSDAY        bool
WEEKDAY_APPR_PROCESS_START_TUESDAY         bool
WEEKDAY_APPR_PROCESS_START_WEDNESDAY       bool
EMERGENCYSTATE_MODE_Yes                    bool
Length: 110, dtype: object
Total columns: 110

Drop the target before scaling

In [ ]:
# Define the target variable
target = 'TARGET'

# Separate features (X) and target (y)
X = df.drop(columns=[target])
y = df[target]

In [ ]:
# Check if the target variable is in the numerical columns
print('Target variable in numerical columns:', 'target_variable_name' in numerical_columns)

Target variable in numerical columns: False

number of columns after removing target varible

In [ ]:
# Get the number of columns in features (X)
num_features = X.shape[1]

print(f"Number of columns (features) after removing target variable: {num_features}")

Number of columns (features) after removing target variable: 109

Drop the boolean columns

In [ ]:
# Separate boolean columns
boolean_columns = df.select_dtypes(include=['bool']).columns

# Separate features (X) and target (y)
X = df.drop(columns=[target])

# Exclude boolean columns from scaling
X_without_boolean = X.drop(columns=boolean_columns)

number of columns after removing boolean values.

In [ ]:
# Get the number of columns after dropping boolean columns
num_columns_after_dropping_boolean = X_without_boolean.shape[1]

print(f"Number of columns after dropping boolean columns: {num_columns_after_dropping_boolean}")

Number of columns after dropping boolean columns: 70

feature scalling

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_without_boolean)

# Optionally, convert scaled features back to DataFrame
X_scaled_df = pd.DataFrame(X_scaled, columns=X_without_boolean.columns)

In [ ]:
# Get the number of columns in the scaled dataset
num_columns_scaled = X_scaled_df.shape[1]

print(f"Number of columns after scaling: {num_columns_scaled}")

Number of columns after scaling: 70

re add the boolean columns

In [ ]:
# Concatenate scaled features with boolean columns
X_final = pd.concat([X_scaled_df, X[boolean_columns].reset_index(drop=True)], axis=1)

In [ ]:
# Get the number of columns in the final dataset
num_columns_final = X_final.shape[1]

print(f"Number of columns in the final dataset: {num_columns_final}")

Number of columns in the final dataset: 109

re add the target varible

In [ ]:
# Add the target variable back
X_final_with_target = pd.concat([X_final, y.reset_index(drop=True)], axis=1)

# Get the number of columns in the final dataset with the target
num_columns_final_with_target = X_final_with_target.shape[1]

print(f"Number of columns in the final dataset with the target variable: {num_columns_final_with_target}")

Number of columns in the final dataset with the target variable: 110

save the data set and download the data set

In [ ]:
'''# Save the final dataset to a CSV file
X_final_with_target.to_csv('/content/final_dataset_with_target.csv', index=False)

# Download the file
from google.colab import files
files.download('/content/final_dataset_with_target.csv') '''

In [ ]:
import numpy as np
# Calculate the correlation matrix for the features (X)
correlation_matrix = X.corr()

# Identify pairs of highly correlated features (correlation > 0.9)
# Upper triangle of correlation matrix (to avoid duplicates)
upper_triangle = correlation_matrix.where(
    np.triu(np.ones(correlation_matrix.shape), k=1).astype(bool)
)

# Find the columns that are highly correlated
highly_correlated = [column for column in upper_triangle.columns if any(upper_triangle[column] > 0.9)]

# Print highly correlated columns with their indices
highly_correlated_with_indices = [(X.columns.get_loc(col), col) for col in highly_correlated]
print("Highly correlated columns (correlation > 0.9) with their indices:")
for idx, col_name in highly_correlated_with_indices:
    print(f"Index: {idx}, Column: {col_name}")

# Print the number of highly correlated columns
num_highly_correlated = len(highly_correlated)
print(f"Number of highly correlated columns: {num_highly_correlated}")

# Optionally, drop one of the correlated features
X_reduced = X.drop(columns=highly_correlated)

# Number of columns after removal
print(f"Number of columns after removing highly correlated features: {X_reduced.shape[1]}")

Highly correlated columns (correlation > 0.9) with their indices:
Index: 5, Column: AMT_GOODS_PRICE
Index: 19, Column: REGION_RATING_CLIENT_W_CITY
Index: 31, Column: OBS_60_CNT_SOCIAL_CIRCLE
Index: 58, Column: YEARS_BEGINEXPLUATATION_MODE
Index: 59, Column: FLOORSMAX_MODE
Index: 60, Column: YEARS_BEGINEXPLUATATION_MEDI
Index: 61, Column: FLOORSMAX_MEDI
Index: 83, Column: NAME_INCOME_TYPE_Pensioner
Number of highly correlated columns: 8
Number of columns after removing highly correlated features: 101

In [ ]:
print(f"Total columns in original dataset: {df.shape[1]}")
print(f"Columns in features dataset (X): {X.shape[1]}")

Total columns in original dataset: 110
Columns in features dataset (X): 109

In [ ]:
# Add the target variable back to the reduced features dataset
final_dataset = pd.concat([X_reduced, df[target]], axis=1)

# Print the number of columns in the final dataset
print(f"Number of columns in the final dataset: {final_dataset.shape[1]}")

Number of columns in the final dataset: 102

In [ ]:
# Save the final dataset to a CSV file
final_dataset.to_csv('/content/drive/MyDrive/final_dataset.csv', index=False)

print("Final dataset saved successfully!")

Final dataset saved successfully!